.DS_Store

node_modules
dist
.vite
out
coverage

*.log

test/electron-app/dist
test/electron-app/src/generated
test/electron-app/src/renderer/global.d.ts

examples/calculator/.vite
examples/calculator/out
examples/calculator/src/generated
examples/calculator/src/renderer/global.d.ts
